# IDE ignores
.idea

# OS Files
*.DS_Store

# Node
node_modules
.npm
npm-debug.log*
package

# Runtime data
pids
*.pid
*.seed

# Test reports
test-reports
coverage

# Typescript


# Configs
config/test.yml
